
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Blocipedia!</h1>
      <% if user_signed_in? %>
        <div>
          <p> Share something with the world today.</p>
        </div>
      <% else %>
        <p>Register to get started.</p>
        <p>
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      <% end %>  
    </div>
  </div>
